name: Hybrid Recommender CI/CD

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

jobs:
    test_and_build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Install uv
              uses: astral-sh/setup-uv@v5
              with:
                  enable-cache: true

            - name: Set up Python
              run: uv python install 3.12

            - name: Install Dependencies
              run: uv sync --frozen

            - name: Run Unit Tests
              run: uv run pytest src/tests -v

            - name: Verify Docker Build
              run: docker build . -t hybrid-recommender:latest
